sphinx
sphinx-autobuild

# Important core Sphinx extensions
sphinx_rtd_theme
recommonmark
sphinxcontrib-napoleon

# Unimportant Sphinx extensions
#sphinxcontrib-ansi
#sphinxcontrib-argdoc
#sphinxcontrib-autoprogram
#sphinxcontrib-cheader
#sphinxcontrib-cheeseshop
#sphinxcontrib-cmakedomain
#sphinxcontrib-documentedlist
#sphinxcontrib-examplecode
#sphinxcontrib-inlinesyntaxhighlight
#sphinxcontrib-makedomain
#sphinxcontrib-manpage
#sphinxcontrib-spelling

# Weirdly named Sphinx extensions
#sphinxcontrib-trio
sphinx-git
sphinx-autodoc-typehints
sphinx-autodoc-napoleon-typehints
